<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blocks.css">
    <title>Index</title>
</head>

<body>
    <div class='block'>
        <h1>Cascading Style Sheets</h1>
        <p id="p1">
            In this assignment you will develop a Cascading Style Sheet (CSS) to control, the look, feel, and layout of
            some provide HTML content.
        </p>
        <p>
            This is a relatively simple assignment. Don't take off points for little mistakes. If they seem to have done
            the assignment give them full credit. Feel free to make suggestions if there are small mistakes. Please keep
            your comments positive and useful. If you do not take grading seriously, the instructors may delete your
            response and you will lose points.
        </p>
    </div>
</body>

</html>